ion-icon {
    color:whitesmoke;
    --ionicon-stroke-width: 80px;
  }

  .orange{
    background-color: orange;
  }

.yellow{
  background-color: yellow;
}

.red{
  background-color: red;
}

.purple{
  background-color: purple;
}

.green{
  background-color: green;
}